/*--------------------------------------------------footer-------------------------------------------------------------*/



.footer-1{
    display: flex;
    justify-content: center;
    margin-top: -10px;
    width: 100%;
    background-color: #FFB602;   
}
@media (max-width:768px){
    .footer-1{
        margin-top: -7px;;   
    }
}
.footer-1 .g1 .field input{
    width: 300px;
}
.footer-1 .g1 .btnsub input{
    width: 150px;
}
.footer-1 .g1{
    width: 80%;
    display: flex;
    justify-content: space-between !important;
    grid-gap: auto;
    padding: 25px 0px;
}
@media (max-width:768px){
    .footer-1 .g1{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        grid-gap: auto;
        padding: 25px 0px;   
    }
}

.footer-1 .g1 .box{
    justify-content: center;
    
}
.footer-1 .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 .g1 .box figure img{
    width: 150px;
}

.footer-1 .g1 .box h2{
    color: #5B1E6E;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-1 .g1 .box p{
    margin-bottom: 10px;

}    

.footer-1 .g1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5B1E6E;
    margin-right: 10px;
    background-color: #fac849;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 7px;
}

.footer-1 .g1 .red-social a:hover{
    transform: scale(1.15);
}

.footer-1 .g1 .red-social .fa-facebook:hover{
    background: #1847e4;
    color: #ffffff;
}

.footer-1 .g1 .red-social .fa-instagram:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #FFFFFF;
}
.footer-1 .g1 .red-social .fa-whatsapp:hover{
    background: #25D366; 
    color: #ffffff;
}
.footer-1 .g1 .red-social .fa-linkedin:hover{
    background: #0e76a8; 
    color: #ffffff;
}
.footer-1 .g1 .red-social .fa-twitter:hover{
    background: #1DA1F2; 
    color: #ffffff;
}

.footer-2{
    background-color: #191818;
    margin: auto;
    text-align: center;
    color: #EDEDED;
}

@media screen and (max-width:800px){
    .footer-1 .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 25px 0px;
    }
    .card-wrap{
        margin-top: 150px;
        justify-content: center;
        margin-left: -65px;
    }
    .s{
        margin-top: 250px;
    }
}